{%extends 'profile/body/body.html'%}
{%block main%}
<div class="wrapper">
	<div class="preloader"></div>
  
	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-f9">
		<div class="container-fluid">
			<div class="row">
        <div class="col-xxl-10 offset-xxl-2 dashboard_grid_space">
          <div class="row">
            <div class="col-lg-12">
              <div class="extra-dashboard-menu dn-lg">
                {%include 'profile/body/site_bar.html'%}
              </div>
            </div>
          </div>
					<div class="row">
						<div class="col-xl-8">
              <div class="col-lg-12 mb50">
                <div class="breadcrumb_content">
                  <h2 class="breadcrumb_title">Избранные</h2>
                </div>
              </div>
						</div>
					</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="dashboard_favorites_contents p10-520">
                <div class="row">
                  {%for car in auto%}
                  <div class="col-sm-6 col-xl-12 col-xxl-6">
                    <div class="car-listing list_style">
                      <div class="thumb">
                        <div class="tag">FEATURED</div>
                        <img class="img-fluid" src="{{car.image.url}}" alt="1.jpg">
                        <div class="thmb_cntnt2">
                        </div>
                      </div>
                      <div class="details">
                        <div class="wrapper">
                          <h6 class="title"><a href="{%url 'single_page' car.pk%}">{{car.make}} {{car.model}} - {{car.year}}</a></h6>
                          <h5 class="price">{{car.prise}}p</h5>
                          <div class="listign_review">
                            <ul class="mb0">
                              {%for r, v in star_r.items%}
                                {%if r == car.id%}
                                  {%for i in rrr%}
                                    {%if v >= i%}
                                      <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                                    {%endif%}
                                  {%endfor%}
                                  <li class="list-inline-item"><a href="page-dashboard-favorites.html#">{{v}}</a></li>
                                {%endif%}
                              {%endfor%}
                              {%for r, v in len_r.items%}
                                {%if r == car.id%}
                                  <li class="list-inline-item">({{v}} отзывов)</li>
                                {%endif%}
                              {%endfor%}
                            </ul>
                          </div>
                          <div class="mb0 db_share_icons">
                            <a href="page-dashboard-favorites.html#"><span class="flaticon-heart"></span></a>
                          </div>
                        </div>
                        <div class="listing_footer">
                          <ul class="mb0">
                            <li class="list-inline-item"><a href="page-dashboard-favorites.html#"><span class="flaticon-road-perspective me-2"></span>{{car.mileage}}</a></li>
                            <li class="list-inline-item"><a href="page-dashboard-favorites.html#"><span class="flaticon-gas-station me-2"></span>{{car.fuel_type}}</a></li>
                            <li class="list-inline-item"><a href="page-dashboard-favorites.html#"><span class="flaticon-gear me-2"></span>{{car.transmission}}</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                  <div class="col-lg-12">
                    <div class="mbp_pagination mt10">
                      <ul class="page_navigation">
                        <li class="page-item">
                          <a class="page-link" href="" tabindex="-1" aria-disabled="true"> <span class="fa fa-arrow-left"></span></a>
                        </li>
                          {%for p in auto.paginator.page_range%}
                          {%if auto.number == p%}
                                  <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{p}}">{{p}}<span class="sr-only"></span></a>
                                  </li>
                                {%else%}
                                  <li class="page-item">
                                    <a class="page-link" href="?page={{p}}">{{p}}<span class="sr-only"></span></a>
                                  </li>
                                {%endif%}
                          {%endfor%}
                          <li class="page-item">
                            <a class="page-link" href=""><span class="fa fa-arrow-right"></span></a>
                          </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome" href="page-dashboard-favorites.html#"><i class="fas fa-arrow-up"></i></a>
</div>
{%endblock main%}