{%extends 'profile/body/body.html'%}
{%block main%}
<div class="wrapper">
	<div class="preloader"></div>
  
	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-f9">
		<div class="container-fluid">
			<div class="row">
        <div class="col-xxl-10 offset-xxl-2 dashboard_grid_space">
          <div class="row">
            <div class="col-lg-12">
              <div class="extra-dashboard-menu dn-lg">
                {%include 'profile/body/site_bar.html'%}
              </div>
            </div>
          </div>
					<div class="row">
						<div class="col-xl-8">
              <div class="col-lg-12 mb50">
                <div class="breadcrumb_content">
                  <h2 class="breadcrumb_title">Cooбшения</h2>
                </div>
              </div>
						</div>
					</div>
          <div class="row">
            <div class="col-lg-5 col-xxl-4">
              <div class="message_container">
                <div class="inbox_user_list">
                  <div class="iu_heading">
                    <div class="candidate_revew_search_box">
                      <form class="row-cols-lg-auto g-3 align-items-center">
                        <button class="btn" type="submit"><span class="flaticon-magnifiying-glass"></span></button>
                        <input class="form-control" type="search" placeholder="Serach" aria-label="Search">
                      </form>
                    </div>
                  </div>
                  <ul>
                    {%for m in users%}
                    <li class="contact">
                      <a href="page-dashboard-messages.html#">
                        <div class="wrap">
                          <img class="img-fluid" src="images/team/ms2.jpg" alt="ms2.jpg"/>
                          <div class="child-wrap df">
                            <div class="meta">
                              <a href="{%url 'chat' m.id%}"><h5 class="name">{{m}}</h5></a>
                              <p class="preview">Head of Development</p>
                            </div>
                            <div class="iul_notific">
                              <small class="body-color">35 mins</small>
                              <div class="m_notif">2</div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    {%endfor%}
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-xxl-8">
              <div class="message_container mt30-md">
                <div class="user_heading">
                  <div class="wrap">
                    <span class="contact-status online"></span>
                    <img class="img-fluid mr10" src="images/team/mm1.jpg" alt="mm1.jpg"/>
                    <div class="meta">
                      <a class="text-thm3 tdu float-end fz14" href="page-dashboard-messages.html#">Delete Conversation</a>
                      <h5 class="name">{{sender}}</h5>
                      {%if request.sender.is_authenticated%}
                          <p class="preview">В сети</p>
                      {%else%}
                          <p class="preview">Не в сети</p>
                      {%endif%}
                    </div>
                  </div>
                </div>
                <div class="inbox_chatting_box">
                  <ul class="chatting_content">
                    {%for m in messages%}
                      {%if m.recipient == user%}
                        <li class="sent">
                          <div class="df">
                            <img class="img-fluid align-self-start me-3" src="images/team/mm2.jpg" alt="mm2.jpg"/>
                            <h5 class="title">{{m.sender}} <small class="body-color ml15">{{m.time_create.time}}</small></h5>
                          </div>
                          <p>{{m.text}}</p>
                        </li>
                      {%else%}
                        <li class="reply first">
                          <div class="df justify-content-end">
                            <h5 class="title"><small class="body-color mr15">{{m.time_create.time}}</small>Bы  </h5>
                            <img class="img-fluid align-self-end ms-3" src="images/team/mm3.jpg" alt="mm3.jpg"/>
                          </div>
                          <p>{{m.text}}</p>
                        </li>
                      {%endif%}
                    {%endfor%}
                  </ul>
                </div>
                <div class="mi_text"> 
                  <div class="message_input">
                    <form class="row-cols-lg-auto g-3 align-items-center" method="post" action="">
                      {%csrf_token%}

                      <ul>
                        <li style="height: 100px;">{{form.text}}</li>
                        <li><button class="btn" type="submit">Отправить</button></li>
                      </ul>
                      

                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
				</div>
			</div>
		</div>
	</section>
<a class="scrollToHome" href="page-dashboard-messages.html#"><i class="fas fa-arrow-up"></i></a>
</div>
{%endblock main%}