{%extends 'single/body.html'%}
{%block main%}
    <!-- Agent Single Grid View -->
    <section class="our-agent-single bgc-f9 pb90 mt70-992 pt30">
      <div class="container">

        <div class="row mb30">
          <div class="col-lg-7 col-xl-8">
            <div class="single_page_heading_content">
              <div class="car_single_content_wrapper">
                <ul class="car_info mb20-md">
                  <li class="list-inline-item"><a href="page-car-single-v1.html#">BRAND NEW - IN STOCK</a></li>
                  <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-clock-1 vam"></span>2 years ago</a></li>
                  <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-heart"></span>{{len_l}}</a></li>
                </ul>
                <h2 class="title">{{car.make}} {{car.model}}</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="single_page_heading_content text-start text-lg-end">
              <div class="share_content">
                  <form action="{%url 'single_page' car.pk%}" method="post">
                    {%csrf_token%}
                    
                    {%if like !=  Null%}
                      <li class="list-inline-item"><a href="{% url 'delete_like' like.pk%}" class="more_listing"><span class=""><span class="header-logo"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                      </svg></span></span></a></li>
                    {%else%}
                      <li class="list-inline-item"><button type="submit" class="btn btn-" > <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg></button></li>
                    {%endif%}
                  </form>
              </div>
              <div class="price_content">
                <div class="price mt60 mb10 mt10-md"><h3><small class="mr15"><del></del></small>{{car.prise}}$</h3></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-xl-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="single_product_grid single_page1">
                  <div class="single_product_slider">
                    <div class="item">
                      <div class="sps_content">
                        <div class="thumb">
                          <div class="single_product">
                            <div class="single_item">
                              <div class="thumb">
                                <div class="tags">FEATURED</div>
                                <img class="img-fluid" src="{{car.image.url}}" alt="lsp1-v1.jpg">
                              </div>
                            </div>
                            <div class="overlay_icon"><a class="video_popup_btn popup-img popup-youtube" href="{{car.video_link}}"><span class="flaticon-play-button"></span>Video</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="opening_hour_widgets p30 mt30">
                  <div class="wrapper">
                    <h4 class="title">Характеристики</h4>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Марка</div>
                        </div>
                        <span class="schedule">{{car.make}}</span>
                      </li>                      
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип</div>
                        </div>
                        <span class="schedule">{{car.type_auto}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Модель</div>
                        </div>
                        <span class="schedule">{{car.model}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Цвет</div>
                        </div>
                        <span class="schedule">{{car.color}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип привода</div>
                        </div>
                        <span class="schedule">{{car.drive_type}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Каробка передач</div>
                        </div>
                        <span class="schedule">{{car.transmission}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Состояние</div>
                        </div>
                        <span class="schedule">{{car.сondition}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Год</div>
                        </div>
                        <span class="schedule">{{car.year}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Пробег</div>
                        </div>
                        <span class="schedule">{{car.mileage}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип топлива</div>
                        </div>
                        <span class="schedule">{{car.fuel_type}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Обьём мотора</div>
                        </div>
                        <span class="schedule">{{car.engine_size}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Двери</div>
                        </div>
                        <span class="schedule">{{car.doors}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Цилиндры</div>
                        </div>
                        <span class="schedule">{{car.cylinders}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">VIN</div>
                        </div>
                        <span class="schedule">{{car.vin}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing_single_description mt30">
                  <h4 class="mb30">Описание<span class="float-end body-color fz13">ID #9535</span></h4>
                  <p class="first-para">{{car.description}}</p>
                </div>
              </div>
              {%include 'single/comments.html'%}
            </div>
          </div>
          {%include 'single/site_bar.html'%}
        </div>
      </div>
    </section>

    <!-- Our Shopping Product -->
    <section class="our-shop pb100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="listing_item_4grid_slider nav_none">
              <div class="item">
                <div class="car-listing">
                  <div class="thumb">
                    <div class="tag">FEATURED</div>
                    <img src="images/listing/1.jpg" alt="1.jpg">
                    <div class="thmb_cntnt2">
                      <ul class="mb0">
                        <li class="list-inline-item"><a class="text-white" href="page-car-single-v1.html#"><span class="flaticon-photo-camera mr3"></span> 22</a></li>
                        <li class="list-inline-item"><a class="text-white" href="page-car-single-v1.html#"><span class="flaticon-play-button mr3"></span> 3</a></li>
                      </ul>
                    </div>
                    <div class="thmb_cntnt3">
                      <ul class="mb0">
                        <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-shuffle-arrows"></span></a></li>
                        <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="details">
                    <div class="wrapper">
                      <h5 class="price">$129</h5>
                      <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 - 2020</a></h6>
                      <div class="listign_review">
                        <ul class="mb0">
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#">4.7</a></li>
                          <li class="list-inline-item">(684 reviews)</li>
                        </ul>
                      </div>
                    </div>
                          <div class="listing_footer">
                            <ul class="mb0">
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-road-perspective me-2"></span>77362</a></li>
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-gas-station me-2"></span>Diesel</a></li>
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-gear me-2"></span>Automatic</a></li>
                            </ul>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<a class="scrollToHome" href="page-car-single-v1.html#"><i class="fa fa-angle-up"></i></a>
{%endblock main%}
  

