{%extends 'single/body.html'%}
{%block main%}
    <!-- Agent Single Grid View -->
    <section class="our-agent-single bgc-f9 pb90 mt70-992 pt30">
      <div class="container">

        <div class="row mb30">
          <div class="col-lg-7 col-xl-8">
            <div class="single_page_heading_content">
              <div class="car_single_content_wrapper">
                <ul class="car_info mb20-md">
                  <li class="list-inline-item"><a href="page-car-single-v1.html#">BRAND NEW - IN STOCK</a></li>
                  <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-clock-1 vam"></span>2 years ago</a></li>
                  <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-heart"></span>{{len_l}}</a></li>
                </ul>
                <h2 class="title">{{car.make}} {{car.model}}</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="single_page_heading_content text-start text-lg-end">
              <div class="share_content">
                  <form action="{%url 'single_page' car.pk%}" method="post">
                    {%csrf_token%}
                    
                    {%if like !=  Null%}
                      <li class="list-inline-item">
                        <a href="{% url 'delete_like' like.pk%}" class="more_listing" style="margin: 0px; padding: 0px;">
                          <svg width="25" height="25"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg>
                        </a>
                      </li>
                    {%else%}
                      <li class="list-inline-item">
                        <button type="submit" class="btn btn-" style="margin: 0px; padding: 0px;">
                          <svg width="25" height="25"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                          </svg>
                        </button>
                      </li>
                    {%endif%}
                  </form>
              </div>
              <div class="price_content">
                <div class="price mt60 mb10 mt10-md"><h3><small class="mr15"><del></del></small>{{car.prise}}$</h3></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-xl-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="single_product_grid single_page1">
                  <div class="single_product_slider">
                    <div class="item">
                      <div class="sps_content">
                        <div class="thumb">
                          <div class="single_product">
                            <div class="single_item">
                              <div class="thumb">
                                <div class="tags">FEATURED</div>
                                <img class="img-fluid" src="{{car.image.url}}" alt="lsp1-v1.jpg">
                              </div>
                            </div>
                            <div class="overlay_icon"><a class="video_popup_btn popup-img popup-youtube" href="{{car.video_link}}"><span class="flaticon-play-button"></span>Video</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="opening_hour_widgets p30 mt30">
                  <div class="wrapper">
                    <h4 class="title">Характеристики</h4>
                    <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Марка</div>
                        </div>
                        <span class="schedule">{{car.make}}</span>
                      </li>                      
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип</div>
                        </div>
                        <span class="schedule">{{car.type_auto}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Модель</div>
                        </div>
                        <span class="schedule">{{car.model}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Цвет</div>
                        </div>
                        <span class="schedule">{{car.color}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип привода</div>
                        </div>
                        <span class="schedule">{{car.drive_type}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Каробка передач</div>
                        </div>
                        <span class="schedule">{{car.transmission}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Состояние</div>
                        </div>
                        <span class="schedule">{{car.сondition}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Год</div>
                        </div>
                        <span class="schedule">{{car.year}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Пробег</div>
                        </div>
                        <span class="schedule">{{car.mileage}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Тип топлива</div>
                        </div>
                        <span class="schedule">{{car.fuel_type}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Обьём мотора</div>
                        </div>
                        <span class="schedule">{{car.engine_size}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Двери</div>
                        </div>
                        <span class="schedule">{{car.doors}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">Цилиндры</div>
                        </div>
                        <span class="schedule">{{car.cylinders}}</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="me-auto">
                          <div class="day">VIN</div>
                        </div>
                        <span class="schedule">{{car.vin}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="listing_single_description mt30">
                  <h4 class="mb30">Описание<span class="float-end body-color fz13">ID #9535</span></h4>
                  <p class="first-para">{{car.description}}</p>
                </div>
              </div>
              {%include 'single/comments.html'%}
            </div>
          </div>
          {%include 'single/site_bar.html'%}
        </div>
      </div>
    </section>

    <!-- Our Shopping Product -->
    <section class="our-shop pb100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="listing_item_4grid_slider nav_none">
              <div class="item">
                <div class="car-listing">
                  <div class="thumb">
                    <div class="tag">FEATURED</div>
                    <img src="images/listing/1.jpg" alt="1.jpg">
                    <div class="thmb_cntnt2">
                      <ul class="mb0">
                        <li class="list-inline-item"><a class="text-white" href="page-car-single-v1.html#"><span class="flaticon-photo-camera mr3"></span> 22</a></li>
                        <li class="list-inline-item"><a class="text-white" href="page-car-single-v1.html#"><span class="flaticon-play-button mr3"></span> 3</a></li>
                      </ul>
                    </div>
                    <div class="thmb_cntnt3">
                      <ul class="mb0">
                        <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-shuffle-arrows"></span></a></li>
                        <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-heart"></span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="details">
                    <div class="wrapper">
                      <h5 class="price">$129</h5>
                      <h6 class="title"><a href="page-car-single-v1.html">Volvo XC90 - 2020</a></h6>
                      <div class="listign_review">
                        <ul class="mb0">
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                          <li class="list-inline-item"><a href="page-car-single-v1.html#">4.7</a></li>
                          <li class="list-inline-item">(684 reviews)</li>
                        </ul>
                      </div>
                    </div>
                          <div class="listing_footer">
                            <ul class="mb0">
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-road-perspective me-2"></span>77362</a></li>
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-gas-station me-2"></span>Diesel</a></li>
                              <li class="list-inline-item"><a href="page-car-single-v1.html#"><span class="flaticon-gear me-2"></span>Automatic</a></li>
                            </ul>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<a class="scrollToHome" href="page-car-single-v1.html#"><i class="fa fa-angle-up"></i></a>
{%endblock main%}
  

