{%load static%}
<div class="col-lg-4 col-xl-4">
    <div class="offer_btns">
      <div class="text-end">
        <button class="btn btn-thm ofr_btn1 btn-block mt0 mb20"><span class="flaticon-coin mr10 fz18 vam"></span>Make an Offer Price</button>
        <button class="btn ofr_btn2 btn-block mt0 mb20"><span class="flaticon-profit-report mr10 fz18 vam"></span>View VIN Report</button>
      </div>
    </div>
    <div class="sidebar_seller_contact">
      <div class="d-flex align-items-center mb30">
        <div class="flex-shrink-0">
          <img class="mr-3 author_img w60" src="{% static 'assets/images/user.png' %}" alt="author.png">
        </div>
        <div class="flex-grow-1 ms-3">
          <h5 class="mt0 mb5 fz16 heading-color fw600">{{car.user.username}}</h5>
          <p class="mb0 tdu"><span class="flaticon-email pr5 vam"></span>{{car.user.email}}</p>
        </div>
      </div>
      <h4 class="mb30">Hаписать продавцу</h4>
      <form action="{%url 'chat' car.user.pk%}" method="post">
        {%csrf_token%}
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-3">
              {{form_m.text}}
            </div>
          </div>
        </div>
        <button type="submit" class="btn dbxshad btn-lg btn-thm circle" style="width: 334px;">Отправить</button>
      </form>
    </div>
  </div>