{%extends 'single/body.html'%}
{%block main%}
{%if request.user.is_authenticated%}
    <form action="" method="post">
        {%csrf_token%}
        <thead>
            <tr>
            <th class="pl0" scope="col">{{form.text.label}}: </th>
            <td>
                <p ><label class="form-label" for="{{ form.name.id_for_label }}" ></label>{{ form.text }}</p>
                <div class="form-error">{{ form.text.errors }}</div>
            </td>
            </tr>
        </thead>
        <div class="row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-thm">Отправить</button>
            </div>
        </div>
    </form>
{%else%}
    <p>ЧТОБЫ ОСТАВИТЬ ОТЗОВ ЗАРЕГЕСТРИРУЙТЕСЬ!</p>
{%endif%}
{%endblock main%}