      <!-- Home Design -->
      {%load static%}
      <section class="home-one bg-home1">
        <div class="container">
          <div class="row posr">
            <div class="col-lg-10 m-auto">
              <div class="home_content home1_style">
                <div class="home-text text-center mb30">
                  <h2 class="title"><span class="aminated-object1"><img class="objects" src="{% static 'assets/images/home/title-bottom-border.svg' %}" alt=""></span>Find Your Next Match</h2>
                  <p class="para">Find the right price, dealer and advice.</p>
                </div>
                <div class="advance_search_panel">
                  <div class="row">
                    <div class="col-lg-12">
                      <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-allstatus-tab" data-bs-toggle="pill" data-bs-target="#pills-allstatus" type="button" role="tab" aria-controls="pills-allstatus" aria-selected="true">All Status</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-usedcar-tab" data-bs-toggle="pill" data-bs-target="#pills-usedcar" type="button" role="tab" aria-controls="pills-usedcar" aria-selected="false">Used Cars</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-newcar-tab" data-bs-toggle="pill" data-bs-target="#pills-newcar" type="button" role="tab" aria-controls="pills-newcar" aria-selected="false">New Cars</button>
                        </li>
                      </ul>
                      <div class="adss_bg_stylehome1">
                        <div class="tab-content" id="pills-tabContent">
                          <div class="tab-pane fade show active" id="pills-allstatus" role="tabpanel" aria-labelledby="pills-allstatus-tab">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="home1_advance_search_wrapper">
                                  <ul class="mb0 text-center">
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_brand">
                                          <h6 class="title">Make</h6>
                                          <select class="selectpicker">
                                            <option>Select Makes</option>
                                            <option>Audi</option>
                                            <option>Bentley</option>
                                            <option>BMW</option>
                                            <option>Ford</option>
                                            <option>Honda</option>
                                            <option>Mercedes</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_models">
                                          <h6 class="title">Models</h6>
                                          <select class="selectpicker">
                                            <option>Select Models</option>
                                            <option>A3 Sportback</option>
                                            <option>A4</option>
                                            <option>A6</option>
                                            <option>Q5</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_prices">
                                          <h6 class="title">Price</h6>
                                          <select class="selectpicker">
                                            <option>All Price</option>
                                            <option>No max Price</option>
                                            <option>$2,000</option>
                                            <option>$5,000</option>
                                            <option>$10,000</option>
                                            <option>$15,000</option>
                                            <option>$5,000</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="d-block">
                                        <button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="pills-usedcar" role="tabpanel" aria-labelledby="pills-usedcar-tab">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="home1_advance_search_wrapper">
                                  <ul class="mb0 text-center">
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_brand">
                                          <h6 class="title">Make</h6>
                                          <select class="selectpicker">
                                            <option>Select Makes</option>
                                            <option>Audi</option>
                                            <option>Bentley</option>
                                            <option>BMW</option>
                                            <option>Ford</option>
                                            <option>Honda</option>
                                            <option>Mercedes</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_models">
                                          <h6 class="title">Models</h6>
                                          <select class="selectpicker">
                                            <option>Select Models</option>
                                            <option>A3 Sportback</option>
                                            <option>A4</option>
                                            <option>A6</option>
                                            <option>Q5</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_prices">
                                          <h6 class="title">Price</h6>
                                          <select class="selectpicker">
                                            <option>All Price</option>
                                            <option>No max Price</option>
                                            <option>$2,000</option>
                                            <option>$5,000</option>
                                            <option>$10,000</option>
                                            <option>$15,000</option>
                                            <option>$5,000</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="pills-newcar" role="tabpanel" aria-labelledby="pills-newcar-tab">
                            <div class="row">
                              <div class="col-lg-12">
                                <div class="home1_advance_search_wrapper">
                                  <ul class="mb0 text-center">
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_brand">
                                          <h6 class="title">Make</h6>
                                          <select class="selectpicker">
                                            <option>Select Makes</option>
                                            <option>Audi</option>
                                            <option>Bentley</option>
                                            <option>BMW</option>
                                            <option>Ford</option>
                                            <option>Honda</option>
                                            <option>Mercedes</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_models">
                                          <h6 class="title">Models</h6>
                                          <select class="selectpicker">
                                            <option>Select Models</option>
                                            <option>A3 Sportback</option>
                                            <option>A4</option>
                                            <option>A6</option>
                                            <option>Q5</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <div class="car_prices">
                                          <h6 class="title">Price</h6>
                                          <select class="selectpicker">
                                            <option>All Price</option>
                                            <option>No max Price</option>
                                            <option>$2,000</option>
                                            <option>$5,000</option>
                                            <option>$10,000</option>
                                            <option>$15,000</option>
                                            <option>$5,000</option>
                                          </select>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="list-inline-item">
                                      <div class="select-boxes">
                                        <a href="{%url 'filter'%}"><button class="btn btn-thm advnc_search_form_btn"><span class="flaticon-magnifiying-glass"></span>Search</button></a>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>