{% load static cars%}
  <!-- header top -->
  <div class="header_top home3_style dashbord_style dn-992">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-xl-7">
          <div class="header_top_contact_opening_widget text-center text-md-start">
            <ul class="mb0">
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="flaticon-phone-call"></span>1-800-458-56987</a></li>
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="flaticon-map"></span>47 Bakery Street, London, UK</a></li>
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="flaticon-clock"></span>{%time%}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-xl-5">
          <div class="header_top_social_widgets text-center text-md-end">
            <ul class="m0">
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="fab fa-facebook-f"></span></a></li>
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="fab fa-twitter"></span></a></li>
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="fab fa-instagram"></span></a></li>
              <li class="list-inline-item"><a href="page-dashboard.html#"><span class="fab fa-linkedin"></span></a></li>
              {%if request.user.is_authenticated%}
                <li class="list-inline-item"><a href="{%url 'profile' pk=request.user.id%}">{{user.username}}</a></li>
                <li class="list-inline-item"><a href="{%url 'logout'%}">Выйти</a></li>
              {%else%}
                <li class="list-inline-item"><a href="{%url 'login'%}">Войти</a></li>
                <li class="list-inline-item"><a href="{%url 'register'%}">Регистрация</a></li>
              {%endif%}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- это не трогоать -->
<div class="header_top home3_style dn-992">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-7">
        <div class="header_top_contact_opening_widget text-center text-md-start">
          <ul class="mb0">
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="flaticon-phone-call"></span>1-800-458-56987</a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="flaticon-map"></span>47 Bakery Street, London, UK</a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="flaticon-clock"></span>Mon - Fri 8:00 - 18:00</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-xl-5">
        <div class="header_top_social_widgets text-center text-md-end">
          <ul class="m0">
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="fab fa-facebook-f"></span></a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="fab fa-twitter"></span></a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="fab fa-instagram"></span></a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#"><span class="fab fa-linkedin"></span></a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#" data-bs-toggle="modal" data-bs-target="#logInModal">Login</a></li>
            <li class="list-inline-item"><a href="page-list-v6.html#" data-bs-toggle="modal" data-bs-target="#logInModal">Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- это не трогать -->

{%block mainheader%}
  <!-- Main Header Nav -->
  <header class="header-nav menu_style_home_one home3_style main-menu">
    <!-- Ace Responsive Menu -->
    <nav> 
      <div class="container posr"> 
        <!-- Menu Toggle btn-->
        <div class="menu-toggle" style="display: none;">
          <button type="button" id="menu-btn">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <a href="index.html" class="navbar_brand float-start dn-md">
          <img class="logo1 img-fluid" src="{% static 'assets/images/header-logo2.svg' %}" alt="header-logo2.png">
          <img class="logo2 img-fluid" src="images/header-logo2.svg" alt="header-logo2.svg">
        </a>
        <!-- Responsive Menu Structure-->
        <ul id="respMenu" class="ace-responsive-menu menu_list_custom_code wa text-end" data-menu-style="horizontal">
           <a href="{%url 'home'%}"><span class="title">Главная</span><span class="arrow "></span></a>

          <li> <a href="page-list-v6.html#"><span class="title">Explore</span></a>
            <!-- Level Two-->
            <ul class="sub-menu">
              <li> <a href="page-list-v6.html#">User Info<span class="arrow "></span></a> 
                <ul class="sub-menu">
                  <li><a href="page-dashboard.html">Dashboard</a></li>
                  <li><a href="page-dashboard-profile.html">Profile</a></li>
                  <li><a href="page-dashboard-listing.html">My Listing</a></li>
                  <li><a href="page-dashboard-favorites.html">Favorites</a></li>
                  <li><a href="page-dashboard-add-listings.html">Add Listing</a></li>
                  <li><a href="page-dashboard-messages.html">Messages</a></li>
                  <li><a href="page-login.html">Logout</a></li>
                </ul>
              </li>
              <li><a href="page-user-profile.html">User Profile</a></li>
            </ul>
          </li>
          <li class="add_listing"><a href="{%url 'listing'%}">+ Добавить авто</a></li>
          <li class="sidebar_panel"><a class="sidebar_switch pt0" href="page-list-v6.html#"><span></span></a></li>
        </ul>
      </div>
    </nav>
  </header>
{%endblock%}
  <!-- Modal -->
  <div class="sign_up_modal modal fade" id="logInModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container p60">
          <div class="row">
            <div class="col-lg-12">
              <ul class="sign_up_tab nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="page-dashboard.html#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="page-dashboard.html#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content container p0" id="myTabContent">
            <div class="row mt30 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="col-lg-12">
                <div class="login_form">
                  <p>New to Cars.com? <a href="page-register.html">Sign up.</a> Are you a dealer?</p>
                  <form action="page-dashboard.html#">
                    <div class="mb-2 mr-sm-2">
                      <label class="form-label">Username or email address  *</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group mb5">
                      <label class="form-label">Password  *</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="exampleCheck3">
                      <label class="custom-control-label" for="exampleCheck3">Remember me</label>
                      <a class="btn-fpswd float-end" href="page-dashboard.html#">Lost your password?</a>
                    </div>
                    <button type="submit" class="btn btn-log btn-thm mt5">Sign in</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row mt30 tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="col-lg-12">
                <div class="sign_up_form">
                  <p>Already have a profile? <a href="page-login.html">Sign in.</a></p>
                  <form action="page-dashboard.html#">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">First Name</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-label">Last Name</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-label">Email</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group mb20">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group mb20">
                          <label class="form-label">Confirm Password</label>
                          <input type="password" class="form-control">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-signup btn-thm mb0">Sign Up</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main Header Nav For Mobile -->
  <div id="page" class="stylehome1 h0">
    <div class="mobile-menu">
      <div class="header stylehome1">
        <div class="mobile_menu_bar">
          <a class="menubar" href="page-dashboard.html#menu"><small>Menu</small><span></span></a>
        </div>
        <div class="mobile_menu_main_logo"><img class="nav_logo_img img-fluid" src="images/header-logo2.svg" alt="images/header-logo2.png"></div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="stylehome1">
      <ul>
        <li><span>Home</span>
          <ul>
            <li><a href="index.html">Home V1</a></li>
            <li><a href="index2.html">Home V2</a></li>
            <li><a href="index3.html">Home V3</a></li>
            <li><a href="index4.html">Home V4</a></li>
            <li><a href="index5.html">Home V5</a></li>
            <li><a href="index6.html">Home V6</a></li>
            <li><a href="index7.html">Home V7</a></li>
          </ul>
        </li>
        <li><span>Explore</span>
          <ul>
            <li><span>User Dashboard</span>
              <ul>
                <li><a href="page-dashboard.html">Dashboard</a></li>
                <li><a href="page-dashboard-profile.html">Profile</a></li>
                <li><a href="page-dashboard-listing.html">My Listing</a></li>
                <li><a href="page-dashboard-favorites.html">Favorites</a></li>
                <li><a href="page-dashboard-add-listings.html">Add Listing</a></li>
                <li><a href="page-dashboard-messages.html">Messages</a></li>
                <li><a href="page-login.html">Login</a></li>
              </ul>
            </li>
            <li><a href="page-user-profile.html">User Profile</a></li>
          </ul>
        </li>
        <li><span>Listings</span>
          <ul>
            <li><span>Listing Styles</span>
              <ul>
                <li><a href="page-list-v1.html">Lising V1</a></li>
                <li><a href="page-list-v2.html">Lising V2</a></li>
                <li><a href="page-list-v3.html">Lising V3</a></li>
                <li><a href="page-list-v4.html">Lising V4</a></li>
                <li><a href="page-list-v5.html">Lising V5</a></li>
                <li><a href="page-list-v6.html">Lising V6</a></li>
                <li><a href="page-list-v7.html">Lising V7</a></li>
              </ul>
            </li>
            <li><span>Listing Map</span>
              <ul>
                <li><a href="page-list-v8.html">Map V1</a></li>
                <li><a href="page-list-v9.html">Map V2</a></li>
                <li><a href="page-list-v10.html">Map V3</a></li>
              </ul>
            </li>
            <li><span>Listing Single</span>
              <ul>
                <li><a href="page-car-single-v1.html">Single V1</a></li>
                <li><a href="page-car-single-v2.html">Single V2</a></li>
                <li><a href="page-car-single-v3.html">Single V3</a></li>
                <li><a href="page-car-single-v4.html">Single V4</a></li>
                <li><a href="page-car-single-v5.html">Single V5</a></li>
                <li><a href="page-car-single-v6.html">Single V6</a></li>
              </ul>
            </li>
            <li><a href="page-dashboard-add-listings.html">Add Listing</a></li>
          </ul>
        </li>
        <li><span>Blog</span>
          <ul>
            <li><a href="page-blog-grid.html">Blog Grid</a></li>
            <li><a href="page-blog-list.html">Blog List</a></li>
            <li><a href="page-blog-single.html">Blog Single</a></li>
          </ul>
        </li>
        <li><span>Shop</span>
          <ul>
            <li><a href="page-shop.html">Shop</a></li>
            <li><a href="page-shop-cart.html">Shop Cart</a></li>
            <li><a href="page-shop-checkout.html">Shop Checkout</a></li>
            <li><a href="page-shop-complete-order.html">Order Completed</a></li>
            <li><a href="page-shop-single.html">Shop Single</a></li>
            <li><a href="page-user-profile.html">User Profile</a></li>
          </ul>
        </li>
        <li><span>Pages</span>
          <ul>
            <li><a href="page-about.html">About Us</a></li>
            <li><a href="page-calculator.html">Loan Calculator</a></li>
            <li><a href="page-compare.html">Compare</a></li>
            <li><a href="page-contact.html">Contact</a></li>
            <li><a href="page-error.html">Error</a></li>
            <li><a href="page-faq.html">Faq</a></li>
            <li><a href="page-login.html">Login</a></li>
            <li><a href="page-pricing.html">Pricing Table</a></li>
            <li><a href="page-register.html">Sign up</a></li>
            <li><a href="page-service.html">Service</a></li>
            <li><a href="page-terms.html">Terms & Condition</a></li>
            <li><a href="page-ui-element.html">UI Elements</a></li>
          </ul>
        </li>
        <!-- Only for Mobile View -->
        <li class="mm-add-listing">
          <span class="border-none">
            <span class="mmenu-contact-info">
              <span class="phone-num"><i class="flaticon-map"></i> <a href="page-dashboard.html#">47 Bakery Street, London, UK</a></span>
              <span class="phone-num"><i class="flaticon-phone-call"></i> <a href="page-dashboard.html#">1-800-458-56987</a></span>
              <span class="phone-num"><i class="flaticon-clock"></i> <a href="page-dashboard.html#">Mon - Fri 8:00 - 18:00</a></span>
            </span>
            <span class="social-links">
              <a href="page-dashboard.html#"><span class="fab fa-facebook-f"></span></a>
              <a href="page-dashboard.html#"><span class="fab fa-twitter"></span></a>
              <a href="page-dashboard.html#"><span class="fab fa-instagram"></span></a>
              <a href="page-dashboard.html#"><span class="fab fa-youtube"></span></a>
              <a href="page-dashboard.html#"><span class="fab fa-pinterest"></span></a>
            </span>
          </span>
        </li>
      </ul>
    </nav>
  </div>

