{%extends 'home/body.html'%}
{%block main%}
{%load static%}
	<div class="preloader"></div>
  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="breadcrumb_content">
            <h2 class="breadcrumb_title">Фильтр</h2>
>
            <ol class="breadcrumb fn-767 mt10-sm">
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listing Grid View -->
  <section class="our-listing bgc-white pb30-991 inner_page_section_spacing">
    <div class="container">
        <div class="row">
        {%include 'filter/site_bar.html'%}
        <div class="col-lg-8 col-xl-9">
          <div class="row">
            <div class="listing_filter_row db-lg">
              <div class="col-xl-5">
                <div class="page_control_shorting left_area tac-lg mb30-767 mt15">
                  <p>Мы нашли <span class="heading-color fw600">{{len_a}} </span>   Автомобилей</p>
                </div>
              </div>
              <div class="col-xl-7">
              </div>
            </div>
          </div>
          <div class="row">
            {% for c in auto_all%}
            <div class="col-sm-6 col-xl-3">
                <div class="car-listing">
                <div class="thumb">
                    <div class="tag">FEATURED</div>
                    <img src="{{ c.image.url }}" alt="1.jpg">
                    <div class="thmb_cntnt2">
                    <ul class="mb0">
                        <li class="list-inline-item"><a class="text-white" href="index.html#"><span class="flaticon-photo-camera mr3"></span> 22</a></li>
                        <li class="list-inline-item"><a class="text-white" href="index.html#"><span class="flaticon-play-button mr3"></span> 3</a></li>
                    </ul>
                    </div>
                    <div class="thmb_cntnt3">
                    <ul class="mb0">
                        <li class="list-inline-item"><a href="index.html#"><span class="flaticon-shuffle-arrows"></span></a></li>
                        <li class="list-inline-item"><a href="index.html#"><span class="flaticon-heart"></span></a></li>
                    </ul>
                    </div>
                </div>
                <div class="details">
                    <div class="wrapper">
                    <h5 class="price">{{c.prise}}$</h5>
                    <h6 class="title"><a href="{% url 'single_page' c.pk%}">{{c.make}} {{c.model}}</a></h6>
                    <div class="listign_review">
                      <ul class="mb0">
                        {%for r, v in star_r.items%}
                          {%if r == c.id%}
                            {%for i in rrr%}
                              {%if v >= i%}
                                <li class="list-inline-item"><a href="page-car-single-v1.html#"><i class="fa fa-star"></i></a></li>
                              {%endif%}
                            {%endfor%}
                            <li class="list-inline-item"><a href="page-dashboard-favorites.html#">{{v}}</a></li>
                          {%endif%}
                        {%endfor%}
                        {%for r, v in len_r.items%}
                          {%if r == c.id%}
                            <li class="list-inline-item">({{v}} отзывов)</li>
                          {%endif%}
                        {%endfor%}
                      </ul>
                    </div>
                    </div>
                    <div class="listing_footer">
                    <ul class="mb0">
                        <li class="list-inline-item"><a href="index.html#"><span class="flaticon-road-perspective me-2"></span>{{c.mileage}}</a></li>
                        <li class="list-inline-item"><a href="index.html#"><span class="flaticon-gas-station me-2"></span>{{c.fuel_type}}</a></li>
                        <li class="list-inline-item"><a href="index.html#"><span class="flaticon-gear me-2"></span>{{c.transmission }}</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Footer -->
<a class="scrollToHome" href="page-list-v6.html#"><i class="fas fa-arrow-up"></i></a>
{%endblock main%}