<div class="ed_menu_list">
    <ul>
      <li><a class="active" href="{%url 'dashboard'%}"><span class="flaticon-dashboard"></span>Приборная панель</a></li>
      <li><a href="{%url 'profile' pk=request.user.id%}"><span class="flaticon-user-2"></span>Профиль</a></li>
      <li><a href="{%url 'listing'%}"><span class="flaticon-list"></span>Мой список</a></li>
      <li><a href="{%url 'favorites'%}"><span class="flaticon-heart"></span>Избранное</a></li>
      <li><a href="{%url 'listings'%}"><span class="flaticon-plus"></span>Добавить авто</a></li>
      <li><a href="{%url 'messages'%}"><span class="flaticon-message"></span>Сообщения</a></li>
      <li><a href="{%url 'login'%}"><span class="flaticon-logout"></span>Вoйти</a></li>
    </ul>
  </div>